@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.sidebar {
    background-color: lightblue;
    width: 200px;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}


.sidebar nav {
    padding: 5px;
}


.sidebar nav li {
    list-style: none;
    padding: 30px;
}


.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /*background-color: yellow;*/
    width: 90vw;
}


.container {
    display: flex;
}


.infocontainer {
    /*background-color: blue;*/
    height: 54vh;
    width: 80vw;
    margin: 64px auto;
    display: flex;
    justify-content: space-around;
}


.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.hello {
    font-size: 70px;
}

.name {
    font-size: 60px;
    font-weight: bold;
}

.about {
    font-size: 50px;
    font-weight: medium;

}

.moreabout {
    font-size: 30px;
    margin-top: 20px;
}


.btn {
    margin-top: 20px;
}

.btn button {
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    background-color: cornflowerblue;
    font-size: 16px;
    font-weight: lighter;
}

.btn button:hover {
    background-color: white;
    color: cornflowerblue;
}

.devPic img {
    width: 355px;
    height: 54vh;
}


.contactform {
    padding: 0 34px;
    padding-top: 2vh;
}


.contactform h1 {
    text-align: left;
    padding: 12px 0;
}


.contactform form div {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    width: 25vw;
}

#form-check {
    flex-direction: row;
}

.form-check-input {
    width: 16px;
    margin: 0px 10px 0 0;
}

#emailHelp {
    font-size: 8px;
    color: black;
    align-items: center;
}


h1 {
    margin: 20px;
}

h2 {
    margin: 20px;
}


p {
    margin: 20px;
    width: 70vw;
}



.skillitem {
    display: flex;
    align-items: center;
    font-weight: lighter;
}

.skillcontainer {
    margin:20px;
}

.skill {
    width: 20vw;
    height: 10px;
    background-color: red;
    border-radius: 20px;
    border: 2px solid slateblue;
}

.p100 {
    width: 20vw;
}

.p80 {
    width: 16vw;
}

.p50 {
    width: 10vw;
}

.p25 {
    width: 5vw;
}

.p60 {
    width: 12vw;
}